---
# Copyright (c) 2018, 2019 Oracle and/or its affiliates.
# This software is made available to you under the terms of the GPL 3.0 license or the Apache 2.0 license.
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)
# Apache License v2.0
# See LICENSE.TXT for details.
ad1_ingress_security_rules:
  # Allow inbound Mongo connections from AS
  - source: "{{ demo_public_subnet_ad1_cidr }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
        destination_port_range:
            min: {{ mongodb_port }}
            max: {{ mongodb_port }}
  # Allow inbound Mongo connections from AD2 (for replication)
  - source: "{{ cidr_block_private_ad2 }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
        destination_port_range:
            min: {{ SSH_port }}
            max: {{ SSH_port }}
  # Allow ssh access *only* from bastion subnet.
  - source: "{{ bastion_subnet_cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
        destination_port_range:
            min: {{ SSH_port }}
            max: {{ SSH_port }}
